body{
  	font-family: 'Josefin Sans', sans-serif !important;
  	text-align: justify;
}

/*Font section*/

h1{
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

h2{
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
}

h3{ 
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
}

h4{ 
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

h5{ 
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

h6{ 
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

a, a:hover, a:focus, a:active{
	text-decoration: none !important;
	color:inherit !important;
}

#firstbg{
margin-top: -2%;
background-image: url('../img/intro-bg.jpg'); 
background-repeat: repeat; 
background-size: 50%;
/*background-repeat: no-repeat;*/
}

.buy{
	background-color: #fff;
}

/*Font section end*/
/*Text color section*/

.tc-white{
	color: #ffffff;
}

.tc-black{
	color: #333333;
	
}

.tc-blue{
	color: #297FB8;
}
/*Text color section end*/

/*Background color section*/
.bg-white{
	background-color: #ffffff;
}

.bg-black{
	background-color: #333333;
}

.bg-gray{
	background-color: #F1F1F1;
}
/*Background color section end*/


/*bloc to be used with row or container - applied directly to a section to space out a seciton*/

.bloc-lg{
	margin-top: 240px;
	margin-bottom: 150px;
}

.bloc-md{
	margin-top: 120px;
	margin-bottom: 40px;
}

.bloc-sm{
	margin-top: 30px;
	margin-bottom: 30px;
}

/*block end*/

/*paddding can be used anywhere- handled independently for mobile*/

/*top padding*/
.padtblg{
	padding-top: 120px;
}

.padtslg{
	padding-top: 80px;
}

.padtlg{
	padding-top: 70px;
}

.padtmd{
	padding-top: 60px;
}

.padtsm{
	padding-top: 20px;
}

.padtxs{
	padding-top: 10px;
}
/*top padding end*/

/*bottom padding*/
.padbblg{
	padding-bottom: 120px;
}

.padbslg{
	padding-bottom: 80px;
}

.padblg{
	padding-bottom: 60px;
}

.padbmd{
	padding-bottom: 50px;
}

.padbsm{
	padding-bottom: 40px;
}

.padbxs{
	padding-bottom: 15px;
}
/*bottom padding end*/

/*left padding*/

.padllg{
	padding-left: 90px;
}

.padlmd{
	padding-left: 50px;
}

.padlsm{
	padding-left: 40px;
}

.padlxs{
	padding-left: 20px;
}
/*left padding end*/

/*right padding*/

.padrlg{
	padding-right: 90px;
}

.padrmd{
	padding-right: 50px;
}

.padrsm{
	padding-right: 40px;
}

.padrxs{
	padding-right: 20px;
}
/*right padding end*/

/*left right padding*/
.padlrlg{
	padding-left: 40px;
	padding-right: 40px;
}
/*left right padding end*/

/*zero padding*/
.pad0{
	padding: 0px;
}

.padt0{
	padding-top: 0px;
}

.padb0{
	padding-bottom: 0px;
}

.padl0{
	padding-left: 0px;
}

.padr0{
	padding-right: 0px;
}

.padtb0{
	padding-top: 0px;
	padding-bottom: 0px;
}

.padlr0{
	padding-left: 0px;
	padding-right: 0px;
}
/*zero padding end*/
/*padding section end*/

/*Margin section*/

/*top margin*/
.martblg{
	margin-top: 120px;
}

.martslg{
	margin-top: 80px;
}

.martlg{
	margin-top: 70px;
}

.martmd{
	margin-top: 60px;
}

.martsm{
	margin-top: 20px;
}

.martxs{
	margin-top: 10px;
}
/*top margin end*/

/*bottom margin*/
.marbblg{
	margin-bottom: 120px;
}

.marbslg{
	margin-bottom: 80px;
}

.marblg{
	margin-bottom: 60px;
}

.marbmd{
	margin-bottom: 50px;
}

.marbsm{
	margin-bottom: 40px;
}

.marbxs{
	margin-bottom: 15px;
}
/*bottom margin end*/

/*left margin*/

.marllg{
	margin-left: 90px;
}

.marlmd{
	margin-left: 50px;
}

.marlsm{
	margin-left: 40px;
}

.marlxs{
	margin-left: 20px;
}
/*left margin end*/

/*right margin*/

.marrlg{
	margin-right: 90px;
}

.marrmd{
	margin-right: 50px;
}

.marrsm{
	margin-right: 40px;
}

.marrxs{
	margin-right: 20px;
}
/*right margin end*/

/*left right margin*/
.marlrlg{
	margin-left: 40px;
	margin-right: 40px;
}
/*left right margin end*/

/*zero margin*/
.mar0{
	margin: 0px;
}

.mart0{
	margin-top: 0px;
}

.marb0{
	margin-bottom: 0px;
}

.marl0{
	margin-left: 0px;
}

.marr0{
	margin-right: 0px;
}

.martb0{
	margin-top: 0px;
	margin-bottom: 0px;
}

.marlr0{
	margin-left: 0px;
	margin-right: 0px;
}
/*zero margin end*/
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/*border section*/
.right-border{
	border-right: 1px solid #A2C5C1;
}
.bord3{
	border:3px solid #297FB8;
}

/*border section end*/
/*display setting*/
.desktop{
  display: block;
}

.mobile{
  display: none;
}

/*display setting end*/

/*carousal start*/
.carousel-control.left , .carousel-control.right
{
	background: transparent;
}
.carousel-indicators
{
	bottom: -40px;
}
.carousel-indicators li {
	background-color: black;
}
.carousel-indicators .active
{
	background-color: #297FB8; 
}
/*carousal end*/
.icon-background2 {
    color: #E0DCDD;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
   /* margin: 8px 0;*/
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #F1F1F1;
    font-size: 24px;
}
input:focus{
	outline-style: none;
	outline-width: 0px;
	outline-color: none;
}


/*button start*/
.btn {
    padding: 8px 40px;
    border: 0 none;
font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
padding: 8px 40px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn-lg-round {
	padding: 8px 40px;
	border-radius: 24px;
}
/*button end*/
/* animations */
.animated1 {
 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-duration: 3s;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.animated2 {

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-duration: 3s;
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*animation end*/
/*mobile adjustment*/
@media (max-width: 768px){
.desktop{
    display: none;
  }

  .mobile{
    display: block;
  }
/*Font section*/

h1{
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h3{ 
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.025;
}

h4{ 
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.010em;
}

h5{ 
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.010em;
}

h6{ 
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.010em;
}


/*Font section end*/
.bloc-md{
  margin-top: 60px;
  margin-bottom: 10px;
}
.bloc-lg{
  margin-top: 200px;
  margin-bottom: 100px;
}
.bloc-sm{
  margin-top: 20px;
  margin-bottom: 20px;
}

.marbblg
{
  margin-bottom: 40px;
}
.marbslg{
	margin-bottom: 20px;
}
.marblg
{
  margin-bottom: 20px;
}
.martblg
{
  margin-top: 10px;
}
.martmd{
  margin-top: 40px;
}
.martslg{
  margin-top: 20px;
}
.padtblg
{
  padding-top: 10px;
}
.padtmd {
	padding-top: 25px;
}
.padbslg {
	padding-bottom: 50px;
}
.padtsm
{
	padding-top: 10px;
}
.marlrlg
{
  margin-left: 0px;
  margin-right: 0px;
}
.text-right, .text-left{
    text-align: center;
  }
 img{
 	margin:auto;
 }

}